{% include "header.html" %}
<main>
    <div class="profile">
        {% if avatar | length > 0 %}
            <img class="rounded-circle" src="/images/{{ avatar }}">
        {% endif %}
        <h5>{{ author }}</h5>
        {% if bio | length > 0 %}
            <p>{{ bio }}</p>
        {% endif %}
    </div>

    <div class="container-fluid pt-3">
        <div class="card-columns">
            {% for sketch in sketches %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ sketch.title }}</h5>
                    <img class="card-img-top rounded mx-auto d-block"
                         src="{{ sketch.cover_url }}">
                    <a href="{{ sketch.url }}" class="btn btn-primary">View</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% include "footer.html" %}
