{% include "header.html" %}
<main>
    <div class="profile">
        {% if avatar | length > 0 %}
            <img class="rounded-circle" src="/images/{{ avatar }}">
        {% endif %}
        <h5>{{ author }}</h5>
        {% if bio | length > 0 %}
            <p>{{ bio }}</p>
        {% endif %}
        <div class="social">
            {% if cfg.social.home | length > 0 %}
            <a href="{{ cfg.social.home }}">
                    <i class="fas fa-home fa-lg"></i>
                </a>
            {% endif %}
            {% if cfg.social.twitter | length > 0 %}
                <a href="https://twitter.com/{{ cfg.social.twitter }}">
                    <i class="fab fa-twitter fa-lg"></i>
                </a>
            {% endif %}
            {% if cfg.social.github | length > 0 %}
                <a href="https://github.com/{{ cfg.social.github }}">
                    <i class="fab fa-github fa-lg"></i>
                </a>
            {% endif %}
            {% if cfg.social.instagram | length > 0 %}
                <a href="https://www.instagram.com/{{ cfg.social.instagram }}">
                    <i class="fab fa-instagram fa-lg"></i>
                </a>
            {% endif %}
            {% if cfg.social.youtube | length > 0 %}
                <a href="https://www.youtube.com/{{ cfg.social.youtube }}">
                    <i class="fab fa-youtube fa-lg"></i>
                </a>
            {% endif %}
            {% if cfg.social.facebook | length > 0 %}
                <a href="https://www.facebook.com/{{ cfg.social.facebook }}">
                    <i class="fab fa-facebook-square fa-lg"></i>
                </a>
            {% endif %}
        </div>
    </div>

    <div class="container-fluid pt-3">
        {% if cfg.grid_mode == GridMode.card_columns %}
        <div class="card-columns">
            {% for sketch in sketches %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ sketch.title }}</h5>
                    <img class="card-img-top rounded mx-auto d-block"
                         src="{{ sketch.cover_url }}">
                    <a href="{{ sketch.url }}" class="btn btn-primary">View</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% elif cfg.grid_mode == GridMode.image_grid %}
        <div class="row">
            {% for sketch in sketches %}
            <h5 class="card-title">{{ sketch.title }}</h5>
            <div class="col-md-6">
                <img class="rounded mx-auto d-block img-fluid"
                     src="{{ sketch.cover_url }}">
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</main>
{% include "footer.html" %}
