<div class="share-button sharer">
    <button type="button" class="btn btn-outline-dark share-btn">
        <i class="fas fa-share-alt fa-lg"></i>
        <span>Share</span>
    </button>
    <div class="social-btns top center social-networks">
        <!-- Twitter Share Button -->
        <a class="fbtn" href="https://twitter.com/intent/tweet?text={{ sketch.title }} {{ cfg.base_url }}{{ sketch.name }}"><i class="fab fa-twitter"></i></a>

        <!-- Facebook Share Button -->
        <a class="fbtn" href="https://www.facebook.com/sharer/sharer.php?u={{ cfg.base_url }}{{ sketch.name }}"><i class="fab fa-facebook"></i></a>
    </div>
</div>
