{% include "header.html" %}
<main>
    <h1>{{ page_title }}</h1>
    <img class="cover" src="{{ base_url }}{{ sketch.name }}/imgs/{{ cover }}">
    <div class="container-fluid pt-3">
        <div class="card-columns">
            {% for image in images %}
            <div class="card">
                <img class="image-grid card-img-top rounded mx-auto d-block"
                     src="{{ base_url }}{{ sketch.name }}/imgs/{{ image }}">
            </div>
            {% endfor %}
        </div>
    </div>
    {% for filename, code in code_info %}
    <h2>{{ filename }}</h2>
    <pre><code class="java">{{ code }}</code></pre>
    {% endfor %}
</main>
{% include "footer.html" %}
