{% include "header.html" %}
<main>
    <h1 class="entry-title">{{ page_title }}</h1>
    <div class="cover">
        <img class="img-fluid rounded mx-auto d-block"
             src="imgs/{{ sketch.cover_name }}">
    </div>
    <div class="container-fluid pt-3">
        <div class="card-columns">
            {% for image in images %}
            <div class="card">
                <img class="image-grid card-img-top rounded mx-auto d-block"
                     src="imgs/{{ image }}">
            </div>
            {% endfor %}
        </div>
    </div>
    {% for filename, code in code_info %}
    <h2 class="code-name">{{ filename }}</h2>
    <pre class="code rounded-lg mx-auto d-block"><code class="java">{{ code }}</code></pre>
    {% endfor %}
</main>
{% include "footer.html" %}
