{% include "header.html" %}
<main>
    <div class="intro">
        <h1 class="entry-title">{{ page_title }}</h1>
        <p>{{ comment }}</p>
        {% include "share.html" %}
        {% if video_embed_code | length > 0 %}
            {{ video_embed_code }}
        {% else %}
        <div class="cover">
            <img class="img-fluid rounded mx-auto d-block"
                 src="imgs/{{ sketch.cover_name }}">
        </div>
        {% endif %}
    </div>
    <div class="container-fluid pt-3">
        <div class="card-columns">
            {% for image in images %}
            <div class="card">
                <img class="image-grid card-img-top rounded mx-auto d-block"
                     src="imgs/{{ image }}">
            </div>
            {% endfor %}
        </div>
    </div>
    {% for code_info in code_infos %}
    <h2 class="code-name">{{ code_info.filename }}</h2>
    <pre class="code rounded-lg mx-auto d-block"><code class="{{ code_info.lang }}">{{ code_info.code }}</code></pre>
    {% endfor %}
</main>
{% include "footer.html" %}
